In [1]:
import pandas as pd

In [4]:
url = "https://raw.githubusercontent.com/LabeebVK/Python_ICTAK/main/titanic_dataset%20.csv"
df = pd.read_csv(url)

In [5]:
df.set_index('PassengerId', inplace=True)

In [6]:
# Display the first few rows of the dataset
print(df.head())

# Get basic details of the dataset
print(df.info())

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB
None

In [7]:
# Check for missing values
print(df.isnull().sum())

# Fill missing values in 'Age' column with median
df['Age'].fillna(df['Age'].median(), inplace=True)

# Fill missing values in 'Embarked' column with mode
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

# Fill missing values in 'Cabin' column with 'Unknown'
df['Cabin'].fillna('Unknown', inplace=True)

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [8]:
print(df.isnull().sum())

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    0
dtype: int64

In [9]:
from scipy import stats

# Calculate z-scores for 'Age', 'Fare', and 'SibSp'
z_scores = stats.zscore(df[['Age', 'Fare', 'SibSp']])

# Define a threshold for outlier detection (e.g., z-score > 3 or < -3)
threshold = 3

# Identify outliers
outliers = (abs(z_scores) > threshold).any(axis=1)

# Remove rows with outliers
df = df[~outliers]